
# General clock and reset pins
NET "clock50M" LOC = U26;
#NET "clock11M" LOC = U25;
NET "reset" LOC = T1;

# UART1 pins, shortcut from CPLD.
NET "uart1Receive" LOC = R26;
NET "uart1Transmit" LOC = P24;

# RAM Controller pins.
NET "primaryPhysicsRAMControl_enabled" LOC = AA26;
NET "primaryPhysicsRAMControl_readEnabled" LOC = AD17;
NET "primaryPhysicsRAMControl_writeEnabled" LOC = AA25;
NET "secondaryPhysicsRAMControl_readEnabled" LOC = AB9;
NET "secondaryPhysicsRAMControl_writeEnabled" LOC = AC4;
NET "secondaryPhysicsRAMControl_enabled" LOC = AC3;
NET "primaryPhysicsRAMAddressBus[19]" LOC = W24;
NET "primaryPhysicsRAMAddressBus[18]" LOC = W22;
NET "primaryPhysicsRAMAddressBus[17]" LOC = V23;
NET "primaryPhysicsRAMAddressBus[16]" LOC = AC23;
NET "primaryPhysicsRAMAddressBus[15]" LOC = AA23;
NET "primaryPhysicsRAMAddressBus[14]" LOC = AD22;
NET "primaryPhysicsRAMAddressBus[13]" LOC = AB22;
NET "primaryPhysicsRAMAddressBus[12]" LOC = AD21;
NET "primaryPhysicsRAMAddressBus[11]" LOC = AC20;
NET "primaryPhysicsRAMAddressBus[10]" LOC = AD20;
NET "primaryPhysicsRAMAddressBus[9]" LOC = AC19;
NET "primaryPhysicsRAMAddressBus[8]" LOC = AC16;
NET "primaryPhysicsRAMAddressBus[7]" LOC = AC15;
NET "primaryPhysicsRAMAddressBus[6]" LOC = AD15;
NET "primaryPhysicsRAMAddressBus[5]" LOC = AC14;
NET "primaryPhysicsRAMAddressBus[4]" LOC = V26;
NET "primaryPhysicsRAMAddressBus[3]" LOC = V24;
NET "primaryPhysicsRAMAddressBus[2]" LOC = W26;
NET "primaryPhysicsRAMAddressBus[1]" LOC = W25;
NET "primaryPhysicsRAMAddressBus[0]" LOC = Y26;
NET "primaryPhysicsRAMDataBus[31]" LOC = AE15;
NET "primaryPhysicsRAMDataBus[30]" LOC = AF15;
NET "primaryPhysicsRAMDataBus[29]" LOC = AF16;
NET "primaryPhysicsRAMDataBus[28]" LOC = AE17;
NET "primaryPhysicsRAMDataBus[27]" LOC = AF17;
NET "primaryPhysicsRAMDataBus[26]" LOC = AF18;
NET "primaryPhysicsRAMDataBus[25]" LOC = AE19;
NET "primaryPhysicsRAMDataBus[23]" LOC = AC25;
NET "primaryPhysicsRAMDataBus[22]" LOC = AD26;
NET "primaryPhysicsRAMDataBus[21]" LOC = AE26;
NET "primaryPhysicsRAMDataBus[20]" LOC = AE25;
NET "primaryPhysicsRAMDataBus[24]" LOC = AF19;
NET "primaryPhysicsRAMDataBus[19]" LOC = AF25;
NET "primaryPhysicsRAMDataBus[18]" LOC = AE24;
NET "primaryPhysicsRAMDataBus[17]" LOC = AF24;
NET "primaryPhysicsRAMDataBus[16]" LOC = AE23;
NET "primaryPhysicsRAMDataBus[15]" LOC = AF20;
NET "primaryPhysicsRAMDataBus[14]" LOC = AE21;
NET "primaryPhysicsRAMDataBus[13]" LOC = AF21;
NET "primaryPhysicsRAMDataBus[12]" LOC = AB17;
NET "primaryPhysicsRAMDataBus[11]" LOC = AC17;
NET "primaryPhysicsRAMDataBus[10]" LOC = AD18;
NET "primaryPhysicsRAMDataBus[9]" LOC = AB18;
NET "primaryPhysicsRAMDataBus[8]" LOC = AD19;
NET "primaryPhysicsRAMDataBus[7]" LOC = AB24;
NET "primaryPhysicsRAMDataBus[6]" LOC = Y22;
NET "primaryPhysicsRAMDataBus[5]" LOC = AA24;
NET "primaryPhysicsRAMDataBus[4]" LOC = Y24;
NET "primaryPhysicsRAMDataBus[3]" LOC = AB26;
NET "primaryPhysicsRAMDataBus[2]" LOC = AC26;
NET "primaryPhysicsRAMDataBus[1]" LOC = AD24;
NET "primaryPhysicsRAMDataBus[0]" LOC = AC24;
NET "secondaryPhysicsRAMDataBus[31]" LOC = AF12;
NET "secondaryPhysicsRAMDataBus[30]" LOC = AF11;
NET "secondaryPhysicsRAMDataBus[29]" LOC = AE11;
NET "secondaryPhysicsRAMDataBus[28]" LOC = AF10;
NET "secondaryPhysicsRAMDataBus[27]" LOC = AF9;
NET "secondaryPhysicsRAMDataBus[26]" LOC = AE9;
NET "secondaryPhysicsRAMDataBus[25]" LOC = AF8;
NET "secondaryPhysicsRAMDataBus[24]" LOC = AF7;
NET "secondaryPhysicsRAMDataBus[23]" LOC = AA1;
NET "secondaryPhysicsRAMDataBus[22]" LOC = AA2;
NET "secondaryPhysicsRAMDataBus[21]" LOC = AB1;
NET "secondaryPhysicsRAMDataBus[20]" LOC = AC2;
NET "secondaryPhysicsRAMDataBus[19]" LOC = AC1;
NET "secondaryPhysicsRAMDataBus[18]" LOC = AD1;
NET "secondaryPhysicsRAMDataBus[17]" LOC = AE1;
NET "secondaryPhysicsRAMDataBus[16]" LOC = AE2;
NET "secondaryPhysicsRAMDataBus[15]" LOC = AF14;
NET "secondaryPhysicsRAMDataBus[14]" LOC = AD13;
NET "secondaryPhysicsRAMDataBus[13]" LOC = AC12;
NET "secondaryPhysicsRAMDataBus[12]" LOC = AD12;
NET "secondaryPhysicsRAMDataBus[11]" LOC = AC11;
NET "secondaryPhysicsRAMDataBus[10]" LOC = AD11;
NET "secondaryPhysicsRAMDataBus[9]" LOC = AF13;
NET "secondaryPhysicsRAMDataBus[8]" LOC = AE13;
NET "secondaryPhysicsRAMDataBus[7]" LOC = AE7;
NET "secondaryPhysicsRAMDataBus[6]" LOC = AF6;
NET "secondaryPhysicsRAMDataBus[5]" LOC = AF5;
NET "secondaryPhysicsRAMDataBus[4]" LOC = AE5;
NET "secondaryPhysicsRAMDataBus[2]" LOC = AE4;
NET "secondaryPhysicsRAMDataBus[1]" LOC = AE3;
NET "secondaryPhysicsRAMDataBus[0]" LOC = AF2;
NET "secondaryPhysicsRAMDataBus[3]" LOC = AF4;
NET "secondaryPhysicsRAMAddressBus[19]" LOC = AB6;
NET "secondaryPhysicsRAMAddressBus[18]" LOC = AB5;
NET "secondaryPhysicsRAMAddressBus[17]" LOC = AB4;
NET "secondaryPhysicsRAMAddressBus[16]" LOC = AB3;
NET "secondaryPhysicsRAMAddressBus[15]" LOC = AA4;
NET "secondaryPhysicsRAMAddressBus[14]" LOC = AC7;
NET "secondaryPhysicsRAMAddressBus[13]" LOC = AD7;
NET "secondaryPhysicsRAMAddressBus[12]" LOC = AB8;
NET "secondaryPhysicsRAMAddressBus[11]" LOC = AD8;
NET "secondaryPhysicsRAMAddressBus[10]" LOC = AC9;
NET "secondaryPhysicsRAMAddressBus[9]" LOC = AD9;
NET "secondaryPhysicsRAMAddressBus[8]" LOC = AD10;
NET "secondaryPhysicsRAMAddressBus[7]" LOC = AB10;
NET "secondaryPhysicsRAMAddressBus[6]" LOC = AC13;
NET "secondaryPhysicsRAMAddressBus[5]" LOC = AD14;
NET "secondaryPhysicsRAMAddressBus[4]" LOC = AD5;
NET "secondaryPhysicsRAMAddressBus[3]" LOC = AC5;
NET "secondaryPhysicsRAMAddressBus[2]" LOC = AD6;
NET "secondaryPhysicsRAMAddressBus[1]" LOC = AD3;
NET "secondaryPhysicsRAMAddressBus[0]" LOC = AD4;

# Flash ROM pins
NET "flashAddress[22]" LOC = G5;
NET "flashAddress[21]" LOC = D3;
NET "flashAddress[20]" LOC = F5;
NET "flashAddress[19]" LOC = C2;
NET "flashAddress[18]" LOC = A2;
NET "flashAddress[17]" LOC = B2;
NET "flashAddress[16]" LOC = C3;
NET "flashAddress[15]" LOC = C4;
NET "flashAddress[14]" LOC = A4;
NET "flashAddress[13]" LOC = B4;
NET "flashAddress[12]" LOC = E5;
NET "flashAddress[11]" LOC = C5;
NET "flashAddress[10]" LOC = B6;
NET "flashAddress[9]" LOC = A6;
NET "flashAddress[8]" LOC = D6;
NET "flashAddress[7]" LOC = C6;
NET "flashAddress[6]" LOC = C7;
NET "flashAddress[5]" LOC = A7;
NET "flashAddress[4]" LOC = E8;
NET "flashAddress[3]" LOC = D7;
NET "flashAddress[2]" LOC = D8;
NET "flashAddress[1]" LOC = C8;
NET "flashAddress[0]" LOC = G3;
NET "flashData[15]" LOC = H1;
NET "flashData[14]" LOC = G2;
NET "flashData[13]" LOC = E1;
NET "flashData[12]" LOC = D1;
NET "flashData[11]" LOC = B1;
NET "flashData[10]" LOC = H5;
NET "flashData[9]" LOC = J4;
NET "flashData[8]" LOC = H3;
NET "flashData[7]" LOC = G1;
NET "flashData[6]" LOC = F1;
NET "flashData[5]" LOC = E2;
NET "flashData[4]" LOC = C1;
NET "flashData[3]" LOC = K5;
NET "flashData[2]" LOC = K3;
NET "flashData[1]" LOC = J3;
NET "flashData[0]" LOC = G4;
NET "flashByte" LOC = F3;
NET "flashCE" LOC = E6;
NET "flashCE1" LOC = E4;
NET "flashCE2" LOC = E3;
NET "flashOE" LOC = J1;
NET "flashRP" LOC = A5;
NET "flashVPEN" LOC = D5;
NET "flashWE" LOC = K1;

# Debugging LED.
NET "light[0]" LOC = F26;
NET "light[1]" LOC = G26;
NET "light[2]" LOC = G25;
NET "light[3]" LOC = H26;
NET "light[4]" LOC = J26;
NET "light[5]" LOC = J25;
NET "light[6]" LOC = G23;
NET "light[7]" LOC = J24;
NET "light[8]" LOC = L24;
NET "light[9]" LOC = K24;
NET "light[10]" LOC = M23;
NET "light[11]" LOC = K26;
NET "light[12]" LOC = L26;
NET "light[13]" LOC = L25;
NET "light[14]" LOC = M26;
NET "light[15]" LOC = N26;
