NET "clock_divided" LOC = L24;
INST "clock_BUFGP" LOC = U26;
NET "clock" LOC = U26;
NET "reset" LOC = T1;
NET "disp" LOC = K24;

NET "output[0]" LOC = F26;
NET "output[1]" LOC = G26;
NET "output[2]" LOC = G25;
NET "output[3]" LOC = H26;
NET "output[4]" LOC = J26;
NET "output[5]" LOC = J25;
NET "output[6]" LOC = G23;
NET "output[7]" LOC = J24;

NET "rxd" LOC = R26;
NET "txd" LOC = P24;