
# PlanAhead Generated physical constraints 

NET "phyAddressBus[19]" LOC = W24;
NET "phyAddressBus[18]" LOC = W22;
NET "phyAddressBus[17]" LOC = V23;
NET "phyAddressBus[16]" LOC = AC23;
NET "phyAddressBus[15]" LOC = AA23;
NET "phyAddressBus[14]" LOC = AD22;
NET "phyAddressBus[13]" LOC = AB22;
NET "phyAddressBus[12]" LOC = AD21;
NET "phyAddressBus[11]" LOC = AC20;
NET "phyAddressBus[10]" LOC = AD20;
NET "phyAddressBus[9]" LOC = AC19;
NET "phyAddressBus[8]" LOC = AC16;
NET "phyAddressBus[7]" LOC = AC15;
NET "phyAddressBus[6]" LOC = AD15;
NET "phyAddressBus[5]" LOC = AC14;
NET "phyAddressBus[4]" LOC = V26;
NET "phyAddressBus[3]" LOC = V24;
NET "phyAddressBus[2]" LOC = W26;
NET "phyAddressBus[1]" LOC = W25;
NET "phyAddressBus[0]" LOC = Y26;
NET "phyDataBus[31]" LOC = AE15;
NET "phyDataBus[30]" LOC = AF15;
NET "phyDataBus[29]" LOC = AF16;
NET "phyDataBus[28]" LOC = AE17;
NET "phyDataBus[27]" LOC = AF17;
NET "phyDataBus[26]" LOC = AF18;
NET "phyDataBus[25]" LOC = AE19;
NET "phyDataBus[23]" LOC = AC25;
NET "phyDataBus[22]" LOC = AD26;
NET "phyDataBus[21]" LOC = AE26;
NET "phyDataBus[20]" LOC = AE25;
NET "phyDataBus[24]" LOC = AF19;
NET "phyDataBus[19]" LOC = AF25;
NET "phyDataBus[18]" LOC = AE24;
NET "phyDataBus[17]" LOC = AF24;
NET "phyDataBus[16]" LOC = AE23;
NET "phyDataBus[15]" LOC = AF20;
NET "phyDataBus[14]" LOC = AE21;
NET "phyDataBus[13]" LOC = AF21;
NET "phyDataBus[12]" LOC = AB17;
NET "phyDataBus[11]" LOC = AC17;
NET "phyDataBus[10]" LOC = AD18;
NET "phyDataBus[9]" LOC = AB18;
NET "phyDataBus[8]" LOC = AD19;
NET "phyDataBus[7]" LOC = AB24;
NET "phyDataBus[6]" LOC = Y22;
NET "phyDataBus[5]" LOC = AA24;
NET "phyDataBus[4]" LOC = Y24;
NET "phyDataBus[3]" LOC = AB26;
NET "phyDataBus[2]" LOC = AC26;
NET "phyDataBus[1]" LOC = AD24;
NET "phyDataBus[0]" LOC = AC24;
NET "clock" LOC = U26;
NET "phyRAMEnable" LOC = AA26;
NET "phyRAMReadEnable" LOC = AD17;
NET "phyRAMWriteEnable" LOC = AA25;
NET "reset" LOC = T1;
NET "wrn" LOC = T24;
NET "rdn" LOC = R25;